.swiper-container {
  display: flex;
  justify-content: center;
}

.swiper {
  width: 100%;
  max-width: 1200px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .swiper {
    width: 75%;
    margin: 0 auto;
  }
}

.swiper-pagination-bullet {
  display: none;
}
